*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    
}
ul li{

    color: white;
    list-style: none;
    display: inline
}
