 @import url('https://fonts.cdnfonts.com/css/arial');
 *{
            padding: 0;
            margin: 0;
            font-family: 'Arial', sans-serif;
        
        }
        .main{
           
            background-image: url(primedark.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: max(1600px, 100vw);
            position: relative;
            height: 100vh;
            
        }    
        
        h1{
            padding-top: 20vh;
            margin-bottom: 7vh;
            font-size: 40px;
            padding-bottom: 5vh;
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgb(255, 255, 255);
            
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            
        }
        .box{
            border: 2px solid white;
            height: 150px;
            width: 150px;
            border-radius: 150px;
            cursor: pointer;
            position: relative;
        }
        .boxname{
            color: white;
            text-align: center;
            text-overflow: ellipsis;
            margin-top: 20px;

        }
        .box img{
            position: relative;
            z-index: 10;
        }
        .logo{
            position: fixed;
            top: 20px;
            left: 20px;
            height: 10px;
            width: 10px;
        }
        .box3 img{
            height: 150px;
        }
        .box4 img{
            height: 150px;
        }

